*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.basket{
    background-image: url(assets/imgs/cesta.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.apple{
    background-image: url(assets/imgs/apple.png);
    background-repeat: no-repeat;
    background-size: contain;
    

}